
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#root, .app {
    width: 100%;
}


/* map container */
#map {
  width: 100%;
  height: 500px;
}

.govuk-grid-column-two-thirds {
  padding-right: 1rem;
}

.govuk-grid-column-one-third {
  padding-left: 1rem;
}

/* Default full-width inputs and textareas used in the form */
textarea, input[type=text], .govuk-textarea, .govuk-input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Make textareas taller by default */
textarea, .govuk-textarea {
  min-height: 120px;
}

/* Utility classes for controlling size */
.input--small { width: 30%; }
.input--medium { width: 60%; }
.input--full { width: 100%; }
.textarea--small { min-height: 80px; }
.textarea--large { min-height: 240px; }

/* Ensure GOV.UK product name in header is visible (overrides if needed) */
.govuk-header__product-name {
  color: #ffffff; /* white on the blue bar */
  display: inline-table;
}